
.app-band {
    margin: 50px 0 0;
    background-color: #1B4487;
    height: 50px;
    left: 0;
    top: 0;
    text-align: center;
}

.app-loader{
    margin-top: 15%;
    opacity: .7;
}

.app-loader-back{
    width: 100%;
    height: 100vh;
    color: #fff;
}

.not-found{
    background-image: url('../img/not-found.png');
    background-size: cover;
    /* background: no-repeat; */
}

section {
    padding: 0;
}

section.features .section-heading {
    margin-bottom: 25px;
}

header.custom-masthead {
    background-image: url('../img/blog.png') !important;
    margin-bottom: 50px;
    background-color: #868e96;
    background-attachment: scroll;
    position: relative;
    background-size: cover;
    background: no-repeat center center;
}

.contact-masthead {
    background-image: none;
    margin: 50px 0 50px 0;
    padding: 0;
    height: 400px;
}

.map {
    width: 100%;
    height: 400px
}

header.custom-masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1B4487;
    opacity: .7;
}

header.home-masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:#1B4487;
    opacity: .9;
}

.resume-page {
    margin: 100px 50px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(168,167,155,1);
    -moz-box-shadow: 4px 4px 5px 0px rgba(168,167,155,1);
    box-shadow: 4px 4px 5px 0px rgba(168,167,155,1);
}

.mx-auto > .section-heading {
    font-size: 30px;
}

.text-primary, .text-warning {
    color: #0D3F71 !important;
}

.text-upper {
    font-weight: 700;
}

.img-profile {
    width: 150px;
    height: auto;
    float: right;
}

#skills .dev-icons {
    color: #0d3f71
}

.btn-xl {
    background-color: #0d3f71;
    color: #fff;
    font-weight: 400;
}

.btn-xl:hover {
    background-color: #f8f9fa;
    border-color: #0d3f71;
    color: #0d3f71;
}

button.page-link{
    color: #0d3f71;
    font-weight: 500;
}

li.active-page.page-item > button.page-link {
    color: #fff;
    background-color: #0d3f71;
}

div.resume-page.card {
    background-color: #f8f9fa;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-100 {
    margin-bottom: 100px;
}
